.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
}

.menu-logo {
    gap: 1.5em;
}

.menu-interacao {
    gap: 0.5em
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.lista-menu_mobile {
    left: 0; /*Serve pra manter a lista colada na esquerda nas versões mobile*/
}

.container_botao:checked ~ .lista-menu { 
    /*A pseudo-classe "checked" detecta se o input está preenchido
    
    O acento ~ é um combinador css e serve pra selecionar elementos que são irmãos do primeiro elemento especificado

    basicamente quer dizer que se o container_botao estiver marcado, o display da lista-menu se tornará block
    */
    display: block;
}

.lista-menu_titulo, .lista-menu_item {
    background-color: var(--branco);
    padding: 1em 1.5em;
}

.lista-menu_titulo  {
    color: var(--amarelo);
    font-weight: 700;
}

.lista-menu_link {
    text-transform: uppercase;
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cabecalho-titulo {
    display: none;
    font-family: var(--fonte-logo);
    font-weight: 400;
    font-size: 30px;
}

.cabecalho-titulo strong {
    font-weight: 700;
}

#menu, .menu-opcoes, .container_texto {
    display: none;
}

.container_botao:checked ~ .container-label > .cabecalho_menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.svg);
}

.container_botao:checked ~ .container-label {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {

    .logo {
        display: flex;
        gap: 11px;
        margin-left: 30px;
    }

    .menu-interacao {
        gap: 35px;
        margin-right: 30px;
    }

    .cabecalho-titulo {
        display: flex;
        align-self: self-end;
    }

    .menu-opcoes {
        display: flex;
    }

    .opcoes-item {
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--preto);
        font-weight: 400;
        font-size: 16px;
    }

    .opcoes-link {
        text-decoration: none;
        color: var(--preto);
    }

    .categorias-menu:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: auto;
    }

    .container_botao , .transparente {
        display: none;
    }

}

@media screen and (min-width: 1728px) {

    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho-titulo {
        font-size: 30px;
    }

    .container_texto {
        display: block;
        font-size: 20px;
    }

    .menu-opcoes {
        margin-right: auto;
    }

    .logo {
        margin-right: 2em;
    }

    .opcoes-item {
        padding: 1.2em;
    }

    .opcoes-link {
        padding: 1em;
    }

    .hover-azul:hover {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu_item:hover > .lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        color: var(--branco);
    }
}